#login{
  text-align: center;
}
#login-welcome{
  color: green;
}
#login-message{
  color: orange;
}
#push{
  position: absolute;
  left: 230px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
#speaker{
  height: 25px;
  width: 25px;
}
#slideFrame{
  position: absolute;
  left: 2px;
  top:0px;

}
#profilePic{

  padding-left: 20px;
}
#albumArt{
  border-radius: 30px;
  position: relative;
  left: 45px;
  opacity: 0.5;
}

#playbackTitle{
  color: #599aa0;
}
#playbackInfo{
  color: #599aa0;
  position: relative;
  left: 50px;
}
